.main-screen {
    background-color: #F5F5F7;
}
.main-screen_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    min-height: 600px;
    height: 100vh;
}
.main-screen_content {
    padding: 24px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1064px;
    flex:1 1 auto;
}
.main-screen_questions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-screen_title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

@media screen and (min-width: 1024px) {
    .main-screen_content {
        padding: 32px;
        justify-content: space-around;
    }
    .main-screen_questions {
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
    }
    .main-screen_title {
        font-size: 32px;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 0;
        text-align: left;
    }
}