.burger-button {
    position: absolute;
    top: 5%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}
.burger-button:focus {
    outline: none;
}

.burger-line {
    width: 2rem;
    height: 0.25rem;
    background: #0D0C1D;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.burger-line:first-child {
    transform: rotate(0);
}

.burger-line.open:first-child {
    transform: rotate(45deg);
}

.burger-line:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}
.burger-line.open:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}


.burger-line:nth-child(3) {
    transform: rotate(0);
}
.burger-line.open:nth-child(3) {
    transform: rotate(-45deg);
}